* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body {
    overflow-x: hidden;
    line-height: 1.5;
    font-weight: 300;
    .yellow {
        color:$yellow-color;
    }
    .bold {
        font-weight: bold;
    }
    .sticky {
        position: fixed;
        top: 0;
    }
    .subtitle{
        @extend .bold;
        @extend .yellow;
        font-family: $title-font;
        font-size: 1.1rem;
        text-transform: uppercase;
    }
    div.affiliate{
        margin-left: -20px;
    }
    h4{
        font-size: 1.5rem;
    }
    button {
        background-color: #FFCC00;
        border: none;
        padding: 10px;
        cursor: pointer;
        border-radius: 20px;
    }
    .wrapper {
        width: 100vw;
        height: 45000px;
        overflow: hidden;
        #myBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            font-size: 16px;
            border: none;
            outline: none;
            background-color: #F1B821;
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 30px;
            height: 48px;
            width: 48px;
            -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.3);
            -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.3);
            box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.3);
          }
          #myBtn:hover {
            background-color: white;
            color: $yellow-color;
          }

    
        .container1 {
            display: grid;
            height: 870px;
            grid-template-columns: 600px 80px 600px;
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas: "title . p1img"
                                 "slogun . p1img"
                                 "colab . p1img";
            padding-left: 100px;
            .title{ 
                grid-area: title; 
                margin: 20px;
                img {
                    height: 50px;
                }
            }
            .slogun{ 
                grid-area: slogun; 
                font-family: 'Cormorant', serif;
                font-size: 3.5rem;
                margin: 20px;
                p:nth-child(2){
                    font-family: 'Open Sans Condensed', sans-serif;
                    color: $yellow-color;
                    font-size: 1.5rem;
                    font-weight: bold;
                }                
            }
            .colab{ 
                grid-area: colab;
                margin: 20px;
                img {
                    height: 150Px;
                }
            }
            .p1img{ 
                grid-area: p1img; 
                img {
                    height: 1000px;
                    position: relative;
                    top: -50px;
                }
            }
        }
        .container2{
            display: grid;
            height: 1200px;
            background-color: #000;
            grid-template-columns: 50% 25% 25%;
            grid-template-rows: 300px 100px 500px 300px;
            .p2img {
                position: relative;
                grid-row: 2 / 4;
                grid-column: 1 / 3;
                img:nth-child(1){
                    position: absolute;
                    height: 175%;
                    left: -700px;
                    top: -370px;
                    z-index: 0;
                }
                img:nth-child(2){
                    position: absolute;
                    height: 500px;
                    z-index: 1;
                    left: -120px;
                    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1)70%, rgba(0, 0, 0, 0));
                    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1)70%, rgba(0, 0, 0, 0));
                }
            }
            .p2infoTitle {
                font-size: 3rem;
                font-family: 'Cormorant', serif;
                grid-row: 2;
                grid-column:  2 / 4;
                color: #fff;
                z-index: 1;
            }
            .p2info {
                grid-row: 3;
                font-family: 'Open Sans Condensed', sans-serif;
                grid-column:  3 / 4;
                color: #fff;
                margin-right: 80px;
            }
        }
        .container3 {
            display: grid;
            height: 1100px;
            background-color: #000;
            grid-template-columns: 25% 75%;
            grid-template-rows: 100px 500px 100px 400px;
            grid-template-areas: "p3infoTitle ."
                                 "p3info p3img"
                                 "p3info p3img"
                                 "p3info p3imgInfo";
            .p3infoTitle {
                grid-area: p3infoTitle;
                background-image: url("../img/Untitled-2.png");
                background-repeat: no-repeat;
                color: #fff;
                margin-left: 75px;
            }
            .p3info {
                grid-area: p3info;
                color: #fff;
                margin-left: 75px;
                font-family: 'Open Sans Condensed', sans-serif;
            }
            .p3img {
                position: relative;
                grid-area: p3img;
                img:nth-child(1){
                    position: absolute;
                    height: 1000px;
                    top: -200px;
                    right: -270px;
                }
                img:nth-child(2){
                    position: absolute;
                    height: 550px;
                    right: 0px;
                    -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 1)70%, rgba(0, 0, 0, 0));
                    mask-image: linear-gradient(to left, rgba(0, 0, 0, 1)70%, rgba(0, 0, 0, 0));
                }
            }
            .p3imgInfo {
                grid-area: p3imgInfo;
                z-index: 1;
                text-align: center;
                color: #FFCC00;
                font-family: 'Open Sans Condensed', sans-serif;
            }
        }
        .container4 {
            height: 790px;
            width: 100%;
            background-color: #000;
            .p4img {
                display: grid;
                grid-template-areas: ". img .";
                img {
                    grid-area: img;
                    height:790px;
                    object-fit: cover;
                    mask-image: linear-gradient(0deg, rgba(0, 0, 0, 1)70%, rgba(0, 0, 0, 0));
                    width: 100%;
                }
            } 
        }
        .container5 {
            display:flex;
            flex-direction: column;
            height: 850px;
            width: 100%;

            /*display: grid;
            grid-template-columns: 1fr 340px 600px 340px 1fr;
            grid-template-rows: 100px 150px 600px;
            grid-template-areas: ". . . . ."
                               //  ". . p5info . ."
                                // ". p5img p5img p5img ."
                                 //;*/
            .p5info { 
                //grid-area: p5info;
                text-align: center; 
                font-family: 'Cormorant', serif;
                p:nth-child(1) {
                    font-size: 3rem;
                }
                p:nth-child(2) > span {
                    font-weight: bold;
                }
            }
            .p5img { 
                //grid-area: p5img;
                position: relative;
                width: 67%;
                display: block;
                margin: auto;
                img:nth-child(1) {
                    position: absolute;
                    width: 100%;
                }
                img:nth-child(2) {
                    position: absolute;
                    width: 200px;
                    left: 80px;
                    top: 75px;
                }
                img:nth-child(3) {
                    position: absolute;
                    width: 200px;
                    left: -15px;
                    top: 170px;
                }
                img:nth-child(4) {
                    position: absolute;
                    width: 200px;
                    left: 385px;
                    top: 105px;
                }
                img:nth-child(5) {
                    position: absolute;
                    width: 200px;
                    left: 375px;
                    top: 210px;
                }
                img:nth-child(6) {
                    position: absolute;
                    width: 200px;
                    left: 230px;
                    top: 300px;
                }
                img:nth-child(7) {
                    position: absolute;
                    width: 200px;
                    left: 870px;
                    top: -5px;
                }
                img:nth-child(8) {
                    position: absolute;
                    width: 200px;
                    left: 1000px;
                    top: 275px;
                }
            }
        }
        .container6 {
           
           display: flex;
           flex-direction: column;
            height: 850px;
            width: 100%;

            /*
            display: grid;
            grid-template-columns:1fr 340px 600px 340px 1fr;
            grid-template-rows: 100px 150px 600px;
            grid-template-areas: ". . . . ."
                                 ". . p6info . ."
                                 ". p6img p6img p6img ."
                                 ;*/
            .p6info { 
                //grid-area: p6info;
                 text-align: center;
                font-family: $title-font;
                p > span {
                    font-weight: bold;
                }
            }
            .p6img { 
                // grid-area: p6img;
                position: relative;
                display: block;
                margin: auto;
                width: 67%;
                img:nth-child(1) {
                    width: 100%;
                }
                img:nth-child(2) {
                    position: absolute;
                    width: 200px;
                    left: 10px;
                    top: 150px;
                }
                img:nth-child(3) {
                    position: absolute;
                    width: 200px;
                    left: 360px;
                    top: 135px;
                }
                img:nth-child(4) {
                    position: absolute;
                    width: 200px;
                    left: 520px;
                    top: 120px;
                }
                img:nth-child(5) {
                    position: absolute;
                    width: 200px;
                    left: 460px;
                    top: 370px;
                }
                img:nth-child(6) {
                    position: absolute;
                    width: 200px;
                    left: 670px;
                    top: -15px;
                }
                img:nth-child(7) {
                    position: absolute;
                    width: 200px;
                    left: 880px;
                    top: -20px;
                }
                img:nth-child(8) {
                    position: absolute;
                    width: 200px;
                    left: 800px;
                    top: 300px;
                }
                img:nth-child(9) {
                    position: absolute;
                    width: 200px;
                    left: 1000px;
                    top: 280px;
                }
            }
        }
        .container7 {
            display: flex;
            flex-direction: column;
            height: 1550px;
            width: 100%;
            /*display: grid;
            grid-template-columns:1fr 340px 600px 340px 1fr;
            grid-template-rows: 100px 150px 600px 50px 650px;
            grid-template-areas: ". . . . ."
                                 ". . p7info . ."
                                 ". p7img p7img p7img ."
                                 ". p7buffer p7buffer p7buffer ."
                                 ". . . . .";*/
            .p7buffer {
                //grid-area: p7buffer;
            }
            .p7info {
                //grid-area: p7info;
                text-align: center;
                font-family: $title-font;
                p > span {
                    font-weight: bold;
                }
            }
            .p7img { 
                //grid-area: p7img;
                position: relative;
                display: block;
                margin: auto;
                width: 67%;
                img:nth-child(1) {
                    position: absolute;
                    z-index: 0;
                    width: 100%;
                }
                img:nth-child(2) {
                    position: absolute;
                    width: 205px;
                    top: 140px;
                    right: 270px;
                    z-index: 1;
                }
                .p7marked { 
                    grid-area: p7marked; 
                    border: 5px solid #000; 
                }
            }
        }
        .container8 {
            display: grid;
            height: 800px;
            grid-template-columns: 1;
            grid-template-rows: 300px 500px;
            grid-template-areas: "p8info"
                                 "p8img";
            .p8info {
                display: grid;
                font-family: 'Cormorant', sans-serif;
                font-size: 3.3rem;
                align-items: end;
                justify-items: center;
                grid-area: p8info;
            }
            .p8img {
                display: grid;
                align-items: center;
                justify-items: center;
                grid-area: p8img;
                img {
                    max-width: 80%;
                }
            }
        }
        .container9 {
            display: grid;
            height: 800px;
            grid-template-columns: 10% 20% 20% 10% 30% 10%;
            grid-template-rows: 30px 150px 160px 400px 60px;
            grid-template-areas: ". . . . . ."
                                 ". p9img1 . . . ."
                                 ". p9img1 . p9title p9title ."
                                 ". p9img1 p9img2 p9img2 p9info ."
                                 ". . . . . .";
            .p9img1 { 
                grid-area: p9img1; 
                position: relative;
                img:nth-child(1) {
                    position: absolute;
                    height: 1100px;
                    left: -925px;
                    top: -100px;
                }
                img:nth-child(2) {
                    position: absolute;
                    height: 500px;
                }
            }
            .p9img2 { 
                grid-area: p9img2; 
                position: relative;
                img:nth-child(1) {
                    position: absolute;
                    height: 200px;
                }
                img:nth-child(2) {
                    position: absolute;
                    height: 200px;
                    right: 0px;
                    bottom: 0px;
                }
            }
            .p9title { 
                grid-area: p9title; 
                font-size: 2rem;                
                font-family: 'Cormorant', sans-serif;
                p{
                    font-family: $regular-font;
                    color: $yellow-color;
                }
            }
            .p9info { 
                grid-area: p9info; 
                position: relative;
                h4 {
                    font-family: $title-font;
                }
                p {
                    font-family: 'Open Sans Condensed', sans-serif;
                }
                img:nth-child(3) {
                    position: absolute;
                    left: 0;
                    margin: 20px;
                    height: 50px;
                }
                img:nth-child(4) {
                    position: absolute;
                    left: 75px;
                    margin: 20px;
                    height: 50px;
                }
                button {
                    position: absolute;
                    color: #fff;
                    left: 220px;
                    margin: 20px;
                }
            }
        }
        .container10 {
            display: grid;
            height: 1100px;
            width: 100%;
            grid-template-columns: 	25% 35% 35% 5%;
            grid-template-rows: 160px 160px 360px 160px 260px;
            grid-template-areas: ". . . ."
                                 ". p10info1 p10img1 ."
                                 ". . . ."
                                 ". p10img2 p10info2 ."
                                 ". . . .";
            .p10info1 { 
                grid-area: p10info1; 
                position: relative;
                h4 {
                    font-family: 'Cormorant', sans-serif;
                }
                p {
                    font-family: 'Open Sans Condensed', sans-serif;
                }
                img:nth-child(3) {
                    position: absolute;
                    height: 50px;
                    margin: 20px;
                    left: 0px;
                }
                img:nth-child(4) {
                    position: absolute;
                    height: 50px;
                    margin: 20px;
                    left: 100px;
                }
                button {
                    position: absolute;
                    color: #fff;
                    left: 220px;
                    margin: 20px;
                }
            }
            .p10img1 { 
                grid-area: p10img1; 
                position: relative; 
                img:nth-child(1) {
                    position: absolute;
                    height: 250px;
                    right: 0px;
                }
                img:nth-child(2) {
                    position: absolute;
                    height: 1100px;
                    top: -420px;
                    right: -1110px;
                }
            }
            .p10info2 { 
                grid-area: p10info2; 
                position: relative;
                h4 {
                    font-family: 'Cormorant', sans-serif;
                }
                p {
                    font-family: 'Open Sans Condensed', sans-serif;
                }
                img {
                    position: absolute;
                    height: 40px;
                    margin: 20px;
                    left: 0px;
                }
                button {
                    position: absolute;
                    color: #fff;
                    left: 170px;
                    margin: 20px;
                }
            }
            .p10img2 { 
                grid-area: p10img2; 
                position: relative;
                img:nth-child(1) {
                    position: absolute;
                    height: 200px;
                }
                img:nth-child(2) {
                    position: absolute;
                    height: 1100px;
                    top: -445px;
                    left: -1120px;
                }
            }
        }
        .container11 {
            display: grid;
            width: 100%;
            height: 900px;
            grid-template-columns: 10% 20% 20% 10% 40%;
            grid-template-rows: 60px 160px 160px 160px 360px;
            grid-template-areas: ". . . . . ."
                                 ". p11img1 . . . ."
                                 ". p11img1 p11title p11title . ."
                                 ". p11img1 p11info p11info p11img2 ."
                                 ". . . . . .";
            .p11img1{ 
                grid-area: p11img1; 
                position: relative;
                img {
                    position: absolute;
                    height:500px;
                }
            }
            .p11img2{ 
                grid-area: p11img2; 
                margin-left: 50px; 
                position: relative;
                img:nth-child(1) {
                    position: absolute;
                    height: 250px;
                }
                img:nth-child(2) {
                    position: absolute;
                    height: 850px;
                    right: -515px;
                    top: 100px;
                }
            }
            .p11title{ 
                grid-area: p11title;
                h2 {
                    font-family: 'Cormorant', sans-serif;
                    font-size: 3rem;
                }
                p {
                    font-family: 'Open Sans Condensed', sans-serif;
                    color: #FFCC00;
                }
            }
            .p11info{ 
                grid-area: p11info; 
                position: relative;
                h3 {
                    font-family: 'Cormorant', sans-serif;
                }
                p {
                    font-family: 'Open Sans Condensed', sans-serif;
                }
                img {
                    position: absolute;
                    height: 50px;
                    margin: 20px;
                    left: 0px;
                }
                button {
                    position: absolute;
                    color: #fff;
                    left: 175px;
                    margin: 20px;
                }
            }
        }
        .container12 {
            display: grid;
            width: 100%;
            height: 800px;
            grid-template-columns: 10% 20% 30% 30% 10%;
            grid-template-rows: 100px 100px 500px 100px;
            grid-template-areas: ". p12img1 . . ."
                                    ". p12img1 p12title . ."
                                    ". . p12img2 p12info ."
                                    ". p12img3 p12img2 p12info .";
            .p12title {
                grid-area: p12title;
                h2 {
                    font-family: 'Cormorant', sans-serif;
                    font-size: 3rem;
                }
                p {
                    font-family: 'Open Sans Condensed', sans-serif;
                    color: #FFCC00;
                }
            }
            .p12img1 {
                grid-area: p12img1;
                position: relative;
                img {
                    position: absolute;
                    height: 500px;
                }
            }
            .p12img2 {
                grid-area: p12img2; 
                .pie-chart1 {
                    width: 250px;
                    height: 250px;
                    background: conic-gradient(#8b22ff 0% 45%, #ffc33b 45% 86%, #21f3d6 86% 100%);
                    border-radius: 50%;
                    margin: 10px;
                }
                .pie-chart2 {
                    width: 250px;
                    height: 250px;
                    background: conic-gradient(#8b22ff 0% 25%, #ffc33b 25% 90%, #21f3d6 90% 100%);
                    border-radius: 50%;
                    margin: 10px;
                }
            }
            .p12img3 {
                grid-area: p12img3;
                img {
                    height: 500px;
                    z-index: -1;
                }
            }
            .p12info {
                grid-area: p12info;
                font-family: 'Open Sans Condensed', sans-serif;
            }
        }
        .container13 {
            display: grid;
            width: 100%;
            height: 1500px;
            grid-template-columns: 25% 25% 40% 10%;
            grid-template-rows: 360px 160px 200px 300px 120px;
            grid-template-areas: ". . . ."
                                 ". p13title p13title ."
                                 ". p13img p13info1 ."
                                 ". p13imgInfo p13info2 ."
                                 ". . . .";
            .p13title { 
                grid-area: p13title;
                h2 {
                    font-family: 'Cormorant', sans-serif;
                    font-size: 3rem;
                }
                p {
                    font-family: 'Open Sans Condensed', sans-serif;
                    color: #FFCC00;
                }
            }
            .p13info1 { 
                grid-area: p13info1;
                font-family: 'Open Sans Condensed', sans-serif;
            }
            .p13info2 { 
                grid-area: p13info2;
                font-family: 'Open Sans Condensed', sans-serif;
                h4{
                    font-family: $title-font;
                }
            }
            .p13img { 
                grid-area: p13img; 
                position: relative;
                img:nth-child(1) {
                    position: absolute;
                    width: 90%;
                    z-index: 1;
                }
                img:nth-child(2) {
                    position: absolute;
                    height: 1000px;
                    z-index: 0;
                    top: -100px;
                    left: -550px;
                }
            }
            .p13imgInfo { 
                grid-area: p13imgInfo;
                display: grid;
                color: red;
                align-items: center;
            }
        }
    
        .container14 {
            display: grid;
            
            width: 100%;
            height: 1500px;
            .p14img {
                .section {
                    height: 50px;
                  }
                  .scene {
                    height: 100%;
                    width: 100%;
                  }
                  $frame-count: 9;
                  $offset-val: 511;
                  .viewer {
                    height: 900px;
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 506px;
                    width: 100%;
                    background-image: url('../img/VIS_SEQUENTIE.png');
                    background-repeat: no-repeat;
                    background-position: 0 50%;
                  }
                  @for $i from 1 through $frame-count {
                    .viewer.frame#{$i} {
                      background-position: -(($i * $offset-val) * 1) + px 50%;
                    }
                  }
                // #fishBowl {
                //     height: 400px;
                //     width: 506px;
                //     background: url('../img/VIS_SEQUENTIE.png') 0px 0px;
                // }
                img {
                    height: 200px;
                }
            }
        }
        .container15 {
            display: grid;
            width: 100%;
            height: 2000px;
            background-color: #000;
            grid-template-columns: 1;
            grid-template-rows: 1000px 1000px;
            grid-template-areas: "p15img"
                                 "p15gradient";
            .p15img { 
                grid-area: p15img;
                display: grid;
                grid-template-columns: 1fr 4fr 1fr;
                grid-template-areas: ". img .";
                img {
                    grid-area: img;
                    height: 1000px;
                    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1)50%, rgba(0, 0, 0, 0));
                    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1)50%, rgba(0, 0, 0, 0));
                }
            }
            .p15gradient { 
                grid-area: p15gradient; 
                position: relative;
                div:nth-child(1) {
                    position: absolute;
                    z-index: 1;
                    background-color: #000;
                    width: 100%;
                    height: 1000px;
                    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
                    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
                }
                div:nth-child(2) {
                    position: absolute;
                    z-index: 0;
                    background-color: #006090;
                    width: 100%;
                    height: 1000px;
                }
            }
        }
        .container16 {
            display: grid;
            width: 100%;
            height: 2400px;
            background-color: #006090;
            grid-template-columns: 25% 75%;
            grid-template-rows: 200px 1100px 1100px;
            grid-template-areas: ". p16wrapper"
                                 "p16img1 p16wrapper"
                                 "buffer buffer";
            .p16img1 {
                grid-area: p16img1;
                img {
                    height: 500px;
                    margin-left: 100px;
                }
            }
            .buffer {
                grid-area: buffer;
            }
            .p16wrapper {
                grid-area: p16wrapper;
                display: grid;
                height: 1900px;
                grid-template-columns: 5% 15% 55% 25%;
                grid-template-rows: 200px 120px 120px 680px 100px;
                grid-template-areas: 
                                     "p16title p16title p16title p16title p16title"
                                     
                                     ". p16img2 p16info1 p16info1 ."
                                     ". . p16info2 . ."
                                     ". . . . .";
                .p16title { 
                    grid-area: p16title;
                    font-family: 'Cormorant', sans-serif;
                    color: #fff;
                    font-size: 3rem;
                }
                .p16img2 { 
                    grid-area: p16img2;
                    display: grid;
                    grid-auto-rows: 2;
                    grid-template-areas: "img1"
                                         "img2";
                    img:nth-child(1) {
                        height: 350px;
                        grid-area: img1;
                    }
                    img:nth-child(2) {
                        height: 152px;
                        grid-area: img2;
                    }
                }
                .p16info1 { 
                    grid-area: p16info1;
                    h3 {
                        font-family: 'Cormorant', sans-serif;
                        color: #fff;
                        font-size: 2rem;
                    }
                    p {
                        font-family: 'Open Sans Condensed', sans-serif;
                        color: #FFCC00;
                    }
                }
                .p16info2 { 
                    grid-area: p16info2;
                    p {
                        font-family: 'Open Sans Condensed', sans-serif;
                        color: #fff;
                    }
                }
            }
        }
        .container17 {
            display: grid;
            width: 100%;
            height: 800px;
            background-color: #006090;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-rows: 120px 240px 160px 50px 100px 200px;
            grid-template-areas: ". p17title1 p17title1 ."
                                 ". p17img1 p17img2 ."
                                 ". p17imgInfo1 p17imgInfo2 ."
                                 ". p17title2 p17title2 ."
                                 ". p17info1 p17info1 ."
                                 ". p17info2 p17info2 .";
            .p17title1, .p17img1, .p17imgInfo1, .p17img2, .p17imgInfo2, .p17title2, .p17info1, .p17info2 {
                text-align: center;
            }
            .p17title1 { 
                grid-area: p17title1;
                h3 {
                    font-family: 'Cormorant', sans-serif;
                    color: #fff;
                    font-size: 2rem;
                }
                p {
                    font-family: 'Open Sans Condensed', sans-serif;
                    color: #FFCC00;
                }
            }
            .p17img1 { 
                grid-area: p17img1;
                display: flex;
                justify-content: center;
                align-items: center;
                .pie-chart3 {
                    width: 200px;
                    height: 200px;
                    font-size: .7rem;
                    
                    background: conic-gradient(#f38b8b 0% 22.2%, #e7be72 22.2% 34.5%, #e9e97c 34.5% 51.5%, #e988e9 51.5% 63.1%, #beb3b3 63.5% 63.9%, #bff1bf 63.9% 84.7%, #709170 84.7% 99.7%, #add8e6 99.7% 100%);
                    border-radius: 50%;
                }
                .p17legend1 {
                    width: 5px;
                    height: 40px;
                    div {
                        position: relative;
                        height: 10px;
                        width: 10px;
                        border-radius: 50%;
                        margin: 9px;
                        top: -60px;
                    }
                    div:nth-child(1) {
                        background-color: #f38b8b;
                    }
                    div:nth-child(2) {
                        background-color: #e7be72;
                    }
                    div:nth-child(3) {
                        background-color: #e9e97c;
                    }
                    div:nth-child(4) {
                        background-color: #e988e9;
                    }
                    div:nth-child(5) {
                        background-color: #beb3b3;
                    }
                    div:nth-child(6) {
                        background-color: #bff1bf;
                    }
                    div:nth-child(7) {
                        background-color: #709170;
                    }
                    div:nth-child(8) {
                        background-color: #add8e6;
                    }
                }
                ul {
                    li {
                        font-family: 'Open Sans Condensed', sans-serif;
                        color: #fff;
                        font-size: 0.8rem;
                        margin-left: 30px;
                        list-style-type: none;
                        text-align: left;
                    }
                }
            }
            .p17imgInfo1 { 
                grid-area: p17imgInfo1;
                p {
                    font-family: 'Open Sans Condensed', sans-serif;
                    color: #fff;
                    padding-right: 20px;
                }
            }
            .p17img2 { 
                grid-area: p17img2;
                display: flex;
                justify-content: center;
                align-items: center;
                .pie-chart4 {
                    width: 200px;
                    height: 200px;
                    font-size: .7rem;
                    background: conic-gradient(#add8e6 0% 31.9%, #79be79 31.9% 60.3%, #367236 60.3% 78.2%, #865186 78.2% 88.1%, #a15b5b 88.1% 98.4%, #f3f37a 98.4% 100%);
                    border-radius: 50%;
                }
                .p17legend2 {
                    width: 5px;
                    height: 40px;
                    div {
                        position: relative;
                        height: 10px;
                        width: 10px;
                        border-radius: 50%;
                        margin: 9px;
                        top: -40px;
                    }
                    div:nth-child(1) {
                        background-color: #add8e6;
                    }
                    div:nth-child(2) {
                        background-color: #79be79;
                    }
                    div:nth-child(3) {
                        background-color: #367236;
                    }
                    div:nth-child(4) {
                        background-color: #865186;
                    }
                    div:nth-child(5) {
                        background-color: #a15b5b;
                    }
                    div:nth-child(6) {
                        background-color: #f3f37a;
                    }
                }
                ul {
                    li {
                        font-family: 'Open Sans Condensed', sans-serif; 
                        color: #fff;
                        font-size: 0.8rem;
                        margin-left: 30px;
                        list-style-type: none;
                        text-align: left;
                    }
                }
            }
            .p17imgInfo2 { 
                grid-area: p17imgInfo2;
                p {
                    font-family: 'Open Sans Condensed', sans-serif;
                    color: #fff;
                    padding-left: 20px;
                }
            }
            .p17title2 { 
                grid-area: p17title2;
                h3 {
                    font-family: 'Cormorant', sans-serif;
                    color: #fff;
                    font-size: 2rem;
                }
            }
            .p17info1 { 
                grid-area: p17info1;
                h2 {
                    font-family: 'Cormorant', sans-serif;
                    color: #fff;
                    font-size: 3rem;
                }
            }
            .p17info2 { 
                grid-area: p17info2;
                p {
                    font-family: 'Open Sans Condensed', sans-serif;
                    color: #fff;
                }
                span {
                    font-weight: bold;
                    font-size: 20px;
                }
            }
        }
        .container18 {
            display: grid;
            width: 100%;
            height: 800px;
            text-align: center;
            background-color: #006090;
            grid-template-columns: 30% 40% 30%;
            grid-template-rows: 40px 80px 300px;
            grid-template-areas: ". p18img ."
                                 ". p18title ."
                                 ". p18info .";
            .p18img { 
                grid-area: 
                p18img;
            }
            .p18title { 
                grid-area: p18title;
                h2 {
                    font-family: 'Cormorant', sans-serif;
                    color: #fff;
                    font-size: 3rem;
                }
            }
            .p18info { 
                grid-area: p18info;
                p {
                    font-family: 'Open Sans Condensed', sans-serif;
                    color: #fff;
                }
                span {
                    font-weight: bold;
                    font-size: 20px;
                }
            }
        }
        .container19 {
            display: grid;
            width: 100%;
            height: 800px;
            background-color: #006090;
            text-align: center;
            .p19title {
                font-family: 'Cormorant', sans-serif;
                color: #fff;
                font-size: 2.5rem;
            }
        }
        .container20 {
            display: grid;
            width: 100%;
            height: 1600px;
            background-color: #006090;
            grid-template-columns: 30% 40% 30%;
            grid-template-rows: 120px 520px 520px 320px 120px;
            grid-template-areas: ". p20title ."
                                 "p20img1 p20info1 ."
                                 ". p20info2 ."
                                 ". p20info3 ."
                                 ". p20info4 .";
            .p20img1 { 
                grid-area: 
                p20img1;
                img {
                    height: 500px;
                    margin-left: 100px;
                }
            }
            .p20title { 
                grid-area: 
                p20title;
                h2 {
                    font-family: 'Cormorant', sans-serif;
                    color: #fff;
                    font-size: 2rem;
                }
                p {
                    font-family: 'Open Sans Condensed', sans-serif;
                    color: #FFCC00;
                }
            }
            .p20info1 { 
                grid-area: p20info1;
                p {
                    font-family: 'Open Sans Condensed', sans-serif;
                    color: #fff;
                }
            }
            .p20info2 { 
                grid-area: p20info2; 
                position: relative;
                img {
                    position: absolute;
                    z-index: 0;
                    left: 10%;
                }
                p:nth-child(2) {
                    position: absolute;
                    z-index: 1;
                    color: #fff;
                    font-size: 9rem;
                    top: 100px;
                    left: 190px;
                    font-family: $title-font;
                }
                p:nth-child(3) {
                    position: absolute;
                    z-index: 1;
                    color: #FFCC00;
                    bottom: 220px;
                    right: 300px;
                    font-family: 'Open Sans Condensed', sans-serif;
                    font-size: 1.5rem;
                }
            }
            .p20info3 { 
                grid-area: p20info3; 
                position: relative;
                font-family: $title-font;
                p:nth-child(1) {
                    position: absolute;
                    font-weight: bold;
                    font-size: 5rem;
                    color: #FFCC00;
                }
                p:nth-child(2) {
                    position: absolute;
                    left: 230px;
                    font-size: 5rem;
                    color: #FFCC00;
                }
                p:nth-child(3) {
                    position: absolute;
                    top: 90px;
                    right: 50px;
                    font-size: 2rem;
                    color: #fff;
                }
            }
            .p20info4 { 
                grid-area: p20info4;
                text-align: center;
                p {
                    font-size: 2.5rem;
                    color: #fff;
                    font-family: $title-font;
                    
                }
            }
        }
        .container21 {
            display: grid;
            width: 100%;
            height: 18300px;
            justify-items: center;
            background-image: linear-gradient(to bottom, #006090, #F6F6F6);;
            grid-template-columns: 100%;
            grid-template-rows: 3000px 11000px;
            grid-template-areas: "p21img"
                                 "p21gradient";
            .p21img {
                grid-area: p21img;
                position: relative;
                z-index: 1;
                img:nth-child(1) {
                    height: 6000px;
                    display: grid;
                    
                    // -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7));
                    // mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7));
                }
                img:nth-child(2) {
                    height: 6000px;
                    top: 6000px;
                    display: grid;
                    
                    // -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
                    // mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
                }
                img:nth-child(3) {
                    height: 6000px;
                    top: 12000px;
                    display: grid;
                    
                    // -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
                    // mask-image: linear-gradient(to bottom, rgba(128, 65, 65, 0.3), rgba(0, 0, 0, 0));
                }
            }
            .p21gradient { 
                grid-area: p21gradient; 
                z-index: 0;
                position: relative;
                div:nth-child(1) {
                    position: absolute;
                    z-index: 2;
                    width: 100%;
                    height: 15500px;
                    background-color: #006090;
                    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1)90%, rgba(0, 0, 0, 0));
                    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1)90%, rgba(0, 0, 0, 0));
                }
                div:nth-child(2) {
                    position: absolute;
                    z-index: 1;
                    width: 100%;
                    height: 15500px;
                    background-color: #F6F6F6;
                }
            }
        }
        .container22 {
            display: grid;
            background-color: #F6F6F6;
            width: 100%;
            height: 800px;
            justify-items: center;
            align-items: center;
            .p22title > h2 {
                font-family: 'Cormorant', sans-serif;
                font-size: 4rem;
            }
        }
        .container23 {
            display: grid;
            background-color: #F6F6F6;
            width: 100%;
            height: 800px;
            grid-gap: 10px;
            grid-template-columns: 20% 20% 20% 20% 20%;
            grid-template-rows: 200px 200px 100px 100px 200px;
            text-align: center;
            grid-template-areas: ". p23title1 p23title1 p23title1 ."
                                 ". p23img1 p23img2 p23img3 ."
                                 ". p23imgInfo1 p23imgInfo2 p23imgInfo3 ."
                                 ". p23title2 p23title2 p23title2 ."
                                 "p23img4 p23img4 p23img4 p23img4 p23img4";
            .p23title1 { 
                grid-area: p23title1; 
                text-align: center;
                h2 {
                    font-family: 'Cormorant', sans-serif;
                    font-size: 4rem;
                }
                p {
                    @extend .subtitle;
                    color: #FFCC00;
                    font-family: $regular-font;
                }
            }
            .p23img1 { 
                grid-area: p23img1; 
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                img:nth-child(1) {
                    position: absolute;
                }
                img:nth-child(2) {
                    position: absolute;
                    top: 90px;
                }
            }
            .p23img2 { 
                grid-area: p23img2; 
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                img:nth-child(1) {
                    position: absolute;
                }
                img:nth-child(2) {
                    position: absolute;
                    top: 90px;
                }
            }
            .p23img3 { 
                grid-area: p23img3; 
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                img:nth-child(1) {
                    position: absolute;
                }
                img:nth-child(2) {
                    position: absolute;
                    top: 90px;
                }
            }
            .p23imgInfo1 { 
                grid-area: p23imgInfo1;
                font-family: 'Open Sans Condensed', sans-serif;
            }
            .p23imgInfo2 { 
                grid-area: p23imgInfo2;
                font-family: 'Open Sans Condensed', sans-serif;
            }
            .p23imgInfo3 { 
                grid-area: p23imgInfo3;
                font-family: 'Open Sans Condensed', sans-serif;
            }
            .p23title2 { 
                grid-area: p23title2;
                font-family: 'Cormorant', sans-serif;
            }
            .p23img4 { 
                grid-area: p23img4;
            }
        }
        .container24 {
            display: grid;
            width: 100%;
            height: 1800px;
            grid-template-columns: 25% 25% 25% 25%;
            grid-template-rows: 200px 400px 400px 200px 300px 100px;
            grid-template-areas: " . p24title1 p24title1 ."
                                 " . p24info1 p24img1 ."
                                 " . p24img2 p24info2 ."
                                 " p24img4 . . p24img3"
                                 " . p24title2 p24title2 ."
                                 " p24contact1 p24contact2 p24contact3 p24contact4";
            .p24title1 {
                grid-area: p24title1;
                text-align: center;
                margin-top: 50px;
                h2 {
                    font-family: 'Cormorant', sans-serif;
                    font-size: 4rem;
                }
                p {
                    @extend .subtitle;
                    color: #FFCC00;
                    font-family: $regular-font;
                }
            }
            .p24info1 {
                grid-area: p24info1;
                z-index: 1;
                margin: 25px;
                font-family: 'Open Sans Condensed', sans-serif;
            }
            .p24img1 {
                grid-area: p24img1;
                position: relative;            
                img:nth-child(1) {
                    position: absolute;
                    height: 300px;
                }
            }
            .p24img2 {
                grid-area: p24img2;
                position: relative;
                img {
                    position: absolute;
                    height: 300px;
                    top: -70px;
                    left: -80px;
                }
            }
            .p24info2 {
                grid-area: p24info2;
                font-family: 'Open Sans Condensed', sans-serif;
            }
            .p24img3 {
                grid-area: p24img3;
                position: relative;
                img {
                    position: absolute;
                    height: 600px;
                    top: -450px;
                    right: -340px;
                }
            }
            .p24img4 {
                grid-area: p24img4;
                position: relative;
                img {
                    position: absolute;
                    z-index: -1;
                    height: 600px;
                    top: -900px;
                    left: -240px;
                }
            }
            .p24title2 {
                grid-area: p24title2;
                h2 {
                    font-family: 'Cormorant', sans-serif;
                    font-size: 4rem;
                }
                p {
                    @extend .subtitle;
                    color: #FFCC00;
                    font-family: $regular-font;
                }
            }
            .p24contact1, .p24contact2, .p24contact3, .p24contact4{
                font-family: $regular-font;
                font-size: 1.1rem;
            }
            .p24contact1 {
                grid-area: p24contact1;
                display: grid;
                justify-items: center;
                span {
                    display: flex;
                    i {
                        margin: 4px;
                    }
                }
            }
            .p24contact2 {
                grid-area: p24contact2;
                display: grid;
                justify-items: center;
                span {
                    display: flex;
                    i {
                        margin: 4px;
                    }
                }
            }
            .p24contact3 {
                grid-area: p24contact3;
                display: grid;
                justify-items: center;
                span {
                    display: flex;
                    i {
                        margin: 4px;
                    }
                }
            }
            .p24contact4 {
                grid-area: p24contact4;
                display: grid;
                justify-items: center;
                span {
                    display: flex;
                    i {
                        margin: 4px;
                    }
                }
            }
        }
    }
}