@media only screen and (max-width: 600px) {
  h2 {
    padding: 15px;
    font-size: 3rem;
  }

  div.partner-logo {
    img {
      height: 60px;
    }
  }

  body {
    .wrapper {
      section.container1 {
        padding-left: 0;
        display: block;
        div.slogun {
          font-size: 3rem;
          margin-bottom: 100px;
        }
        div.colab {
          img {
            width: 100%;
            height: auto;
          }
        }
        div.p1img {
          display: none;
        }
      }
      section.container2 {
        display: block;
        height: auto;
        div.p2img {
          img:nth-child(1) {
            display: none;
          }
          img:nth-child(2) {
            width: 150%;
            height: auto;
            position: relative;
          }
        }
        div.p2info {
          margin: 0;
          padding: 15px;
          p {
            line-height: 30px;
            margin-bottom: 15px;
          }
        }
      }
      section.container3 {
        display: block;
        div.p3img {
          img:nth-child(1) {
            display: none;
          }
          img:nth-child(2) {
            position: relative;
          }
        }
        div.p3info {
          margin-left: 0;
          padding: 15px;
          p {
            line-height: 30px;
            margin-bottom: 15px;
          }
        }
      }
      section.container8 {
        display: block;
      }
      section.container9 {
        display: block;
        height: auto;
        margin-bottom: 100px;
        img {
          position: relative !important;
        }
        .subtitle {
          padding-left: 15px;
        }
        div.p9img1 {
          img {
            display: none !important;
          }
          h4 {
            padding-left: 14px;
          }
        }
        div.p9img2 {
          img {
            display: block;
            margin: auto;
          }
          h4 {
            padding-left: 14px;
          }
        }
        div.p9info {
          padding: 15px;
          img {
            max-height: 70px;
          }
        }
      }
      section.container10 {
        display: block;
        height: auto;
        div.p10info1 {
          padding: 0 15px;
        }
        div.p10info2 {
          padding: 0 15px;
          img {
            position: relative;
          }
        }
        div.p10img1 {
          margin-bottom: 100px;
          img:nth-child(1) {
            position: relative;
            display: block;
            margin: auto;
          }
          img:nth-child(2) {
            display: none;
          }
        }
        div.p10img2 {
          margin-bottom: 100px;
          img:nth-child(1) {
            position: relative;
            display: block;
            margin: auto;
          }
          img:nth-child(2) {
            display: none;
          }
        }
      }
      section.container11 {
        display: block;
        p.subtitle {
          padding: 15px;
        }
        div.p11img1 {
          display: none;
        }
        div.p11img2 {
          position: relative;
          img:nth-child(1) {
            position: relative;
          }
          img:nth-child(2) {
            display: none;
          }
        }
        div.p11info {
          padding: 15px;
        }
      }
      section.container12 {
        display: block;
        height: auto;
        margin-bottom: 100px;
        div.p12title {
          p {
            padding: 0 15px;
          }
        }
        #p12img1 {
          display: none !important;
        }
        div.p12img2 {
          div {
            display: block;
            margin-left: auto !important;
            margin-right: auto !important;
          }
        }
        div.p12info {
          display: block !important;
          padding: 15px;
        }
        div.p12img3 {
          display: none;
        }
      }
      section.container13 {
        display: block;
        div.p13title {
          p {
            padding: 0 15px;
          }
        }
        div.p13info1 {
          padding: 15px;
        }
        div.p13info2 {
          padding: 15px;
        }
        div.p13img {
          img:nth-child(1) {
            width: 100%;
            padding: 15px;
          }
          img:nth-child(2) {
            display: none;
          }
        }
      }
      section.container14 {
        display: block;
        .p14img {
          .viewer {
            height: 600px;
          }
        }
      }
    }
  }
}
